@{
    ViewBag.Title = "Userinfo";
    ViewBag.ParentMenuItem = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .table thead {
        background-color: rgba(255,255,255,.15);
        color: #0c0c0c;
    }
</style>
<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-body">
            <label>sss</label>
        </div>
    </div>
</div>